{
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "BitGo API",
      "url": "https://app.bitgo.com"
    }
  ],
  "info": {
    "version": "0.1.0",
    "title": "BitGo API Reference",
    "x-logo": {
      "url": "./docs-logo.png",
      "backgroundColor": "#000000",
      "altText": "BitGo API Logo"
    },
    "contact": {
      "name": "BitGo Engineering",
      "email": "support@bitgo.com"
    }
  },
  "paths": {
    "/api/v2/{coin}/wallet/{walletId}/addresses": {
      "get": {
        "tags": [
          "Address"
        ],
        "summary": "List addresses",
        "description": "List receive addresses on a wallet",
        "operationId": "v2.wallet.addresses",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          },
          {
            "name": "labelContains",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "A case-insensitive regular expression which will be used to filter returned addresses based on their address label."
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "mine",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to return only the addresses which the current user has created."
          },
          {
            "$ref": "#/components/parameters/prevId"
          },
          {
            "$ref": "#/components/parameters/segwit"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                -1,
                1
              ],
              "default": 1
            },
            "description": "Sort order of returned addresses. (1 for ascending, -1 for descending)."
          },
          {
            "$ref": "#/components/parameters/chain"
          },
          {
            "name": "includeBalances",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to include address balances"
          },
          {
            "name": "includeTokens",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Whether to include token addresses"
          },
          {
            "name": "includeTotalAddressCount",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "For large wallets (>100k addresses), include total count of addresses (including addresses pending on-chain) matching the query."
          },
          {
            "name": "returnBalancesForToken",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Name of the token that the response should include balances for. (Eth and Celo only)\n"
          },
          {
            "name": "pendingDeployment",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter the addresses based on their deployment status. Return the deployed addresses if this param is passed as false and return undeployed addresses if it is passed as true. (Eth only)\n"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAddressesResponse"
                }
              }
            }
          },
          "202": {
            "description": "Wallet is pending on-chain initialization"
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "wallet.addresses().then(function (addresses) {\n  // print addresses\n  console.dir(addresses);\n});\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet/{walletId}/address": {
      "post": {
        "tags": [
          "Address",
          "Wallet",
          "Express"
        ],
        "summary": "Create address",
        "operationId": "v2.wallet.newaddress",
        "description": "This API call is used to create a new receive address for your wallet. You may choose to call this API whenever a deposit is made. The BitGo API supports millions of addresses.\nPlease check the “Coin-Specific Implementation” with regards to fee address management for Ethereum and consolidation transactions for Algorand and Tezos.\n\nNote, in Ethereum, new addresses are not returned immediately. This is because creating a new Ethereum address requires a blockchain transaction, which must be confirmed before\nthe address can be used. You can save the \"id\" field in the response and use it to query for the address value after a short delay.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Address"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "wallet.createAddress({ label: 'My address' }).then(function (address) {\n  // print new address\n  console.dir(address);\n});\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet/{walletId}/address/{addressId}/deployment": {
      "post": {
        "tags": [
          "Address"
        ],
        "summary": "Deploy address",
        "operationId": "v2.wallet.deployForwarder",
        "description": "This API call is to manually deploy an ETH address",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          },
          {
            "$ref": "#/components/parameters/pathAddressId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployForwarderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeployForwarderAndForwardTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{coin}/wallet/{walletId}/address/{addressId}/tokenforward": {
      "post": {
        "tags": [
          "Address"
        ],
        "summary": "Forward tokens from address",
        "operationId": "v2.wallet.forwardToken",
        "description": "This API call is to manually forward tokens from an ETH or CELO address",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          },
          {
            "$ref": "#/components/parameters/pathAddressId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForwardTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeployForwarderAndForwardTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{coin}/wallet/{walletId}/address/{addressOrId}": {
      "get": {
        "tags": [
          "Address"
        ],
        "summary": "Get address",
        "description": "Gets a receive address on a wallet",
        "operationId": "v2.wallet.singlewalletaddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/addressOrId"
          },
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          },
          {
            "name": "dt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "For XRP addresses"
          },
          {
            "name": "memoId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "For XLM addresses"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSingleAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "wallet.getAddress({ address: '2NCzBK2Yf7PFAAfKsgc6cfTSG8FxtgMGG9C' }).then(function (address) {\n  // print address\n  console.dir(address);\n});\n"
          }
        ]
      },
      "put": {
        "tags": [
          "Address"
        ],
        "summary": "Update address",
        "description": "Update a receive address on a wallet",
        "operationId": "v2.wallet.updateaddress",
        "parameters": [
          {
            "$ref": "#/components/parameters/addressOrId"
          },
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          },
          {
            "name": "dt",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "For XRP addresses"
          },
          {
            "name": "memoId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "For XLM addresses"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAddressRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSingleAddressResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{coin}/wallet/{walletId}/address/{addressOrId}/proof": {
      "get": {
        "tags": [
          "Address"
        ],
        "summary": "Get proof of address ownership",
        "description": "Gets proof of ownership for an address on a wallet",
        "operationId": "v2.wallet.addressProof",
        "parameters": [
          {
            "$ref": "#/components/parameters/addressOrId"
          },
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAddressProofResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "//api/v2/{coin}/wallet/{walletId}/potentialStuckTxs": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get list of potentially stuck transactions and their nonces for eth-like coins",
        "description": "Gets a list of potentially problematic transactions, their nonces, the reason they are stuck, and possible solutions for a given wallet",
        "operationId": "v2.wallet.getpotentialstucktxs",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPotentialStuckTxsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    },
                    {
                      "$ref": "#/components/schemas/CoinOperationNotSupported"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/enterprise/{enterpriseId}": {
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Get enterprise",
        "operationId": "enterprise.getById",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathEnterpriseId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/EnterpriseResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "wallets": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "base address a v1 btc wallet"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEnterpriseId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Update enterprise",
        "operationId": "enterprise.update",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathEnterpriseId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEnterprise"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enterprise"
                }
              }
            }
          },
          "202": {
            "description": "A Pending Approval for the Update has been created and is waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/V1PendingApproval"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "`NotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/enterprise": {
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "List enterprises",
        "operationId": "enterprise.list",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterprisesResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/enterprise/{enterpriseId}/user": {
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "List enterprise users",
        "operationId": "enterprise.user.list",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathEnterpriseId"
          },
          {
            "name": "allowInactiveAdmins",
            "in": "query",
            "description": "Whether inactive admins should be returned as well",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnterpriseUsersResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEnterpriseId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Add user to enterprise",
        "operationId": "v1.enterprise.user.add",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathEnterpriseId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddEnterpriseUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "202": {
            "description": "Pending Approval(s) for adding the User(s) ha(s|ve) been created and (is|are) waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/V1PendingApproval"
                    },
                    {
                      "$ref": "#/components/schemas/V1PendingApprovals"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEnterpriseId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Remove user from enterprise",
        "operationId": "v1.enterprise.user.remove",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathEnterpriseId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteEnterpriseUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "202": {
            "description": "A Pending Approval for removing the User has been created and is waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pendingApprovals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/V1PendingApproval"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEnterpriseId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`UserNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/enterprise/{enterpriseId}/user": {
      "post": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Add user to enterprise",
        "operationId": "v2.enterprise.user.add",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathEnterpriseId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddEnterpriseUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "202": {
            "description": "Pending Approval for adding a user was created and is waiting to be approved",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/PendingApproval"
                    },
                    {
                      "$ref": "#/components/schemas/PendingApprovals"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEnterpriseId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Remove user from enterprise",
        "operationId": "v2.enterprise.user.remove",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathEnterpriseId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteEnterpriseUser"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          },
          "202": {
            "description": "A Pending Approval for removing the User has been created and is waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pendingApprovals": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PendingApproval"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEnterpriseId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`UserNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/enterprise/{enterpriseId}/freeze": {
      "post": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Freeze the enterprise",
        "operationId": "enterprise.freeze",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathEnterpriseId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FreezeEnterprise"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Freeze"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEnterpriseId"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "The User needs to unlock with OTP first"
          }
        }
      }
    },
    "/api/v2/enterprise/{enterpriseId}/walletLimits": {
      "get": {
        "tags": [
          "Enterprise"
        ],
        "summary": "Get enterprise's wallet limits",
        "operationId": "enterprise.walletLimits",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathEnterpriseId"
          },
          {
            "$ref": "#/components/parameters/coinSingleOrList"
          },
          {
            "name": "isCustodial",
            "in": "query",
            "description": "Whether custodial limits should be returned",
            "schema": {
              "type": "boolean",
              "enum": [
                true
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletLimitsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEnterpriseId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/enterprise/{enterpriseId}/transfer": {
      "get": {
        "tags": [
          "Transfer"
        ],
        "summary": "List all transfers on all wallets in an enterprise",
        "description": "Returns all the transfers without blockchain information (inputs, outputs, confirms). Use the coin specific route\nto annotate blockchain information.\n",
        "operationId": "v2.enterprise.listtransfers",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathEnterpriseId"
          },
          {
            "$ref": "#/components/parameters/dateGte"
          },
          {
            "$ref": "#/components/parameters/dateLt"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/prevId"
          },
          {
            "$ref": "#/components/parameters/state"
          },
          {
            "$ref": "#/components/parameters/type"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transfers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transfer"
                      }
                    },
                    "nextBatchPrevId": {
                      "$ref": "#/components/schemas/NextBatchPrevId"
                    }
                  },
                  "required": [
                    "transfers"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEnterpriseId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{coin}/transfer": {
      "get": {
        "tags": [
          "Transfer"
        ],
        "summary": "List transfers on all wallets in an enterprise for a given coin and block height",
        "description": "Returns all the transfers. Currently requires an enterpriseId and block height.\n",
        "operationId": "v2.listtransfers",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "name": "enterpriseId",
            "in": "query",
            "description": "The enterprise ID",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "height",
            "in": "query",
            "description": "The block or ledger height to query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/IntegerString"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransfersResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEnterpriseId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{coin}/tx/fee": {
      "get": {
        "tags": [
          "Transfer"
        ],
        "summary": "Get fee estimate",
        "description": "Returns the estimated fee for a transaction. UTXO coins will return a fee per kB, while Account-based coins will return a flat fee estimate",
        "operationId": "v2.tx.getfeeestimate",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "name": "numBlocks",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": "target number of blocks"
          },
          {
            "name": "recipient",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Recipient of the tx to estimate for (only for ETH)"
          },
          {
            "name": "data",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "ETH data of the tx to estimate for (only for ETH)"
          },
          {
            "name": "amount",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Amount in base units being sent to estimate for (only for ETH)"
          },
          {
            "name": "hop",
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": "True if we are estimating for a hop tx, false or unspecified for a wallet tx (only ETH and AVAXC)"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/EstimateTransactionFees"
                    },
                    {
                      "$ref": "#/components/schemas/EstimateTransactionFeesEth"
                    },
                    {
                      "$ref": "#/components/schemas/EstimateTransactionFeesAccountCoin"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`CoinUnsupported` or `Invalid`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{coin}/wallet/averagefee": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get average fee",
        "description": "Returns the average fee for a specific number of blocks. Only for ETH and TETH.",
        "operationId": "v2.wallet.getaveragefee",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "name": "numBlocks",
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "description": "target number of blocks"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AverageFee"
                }
              }
            }
          },
          "400": {
            "description": "`CoinUnsupported` or `Invalid`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/user/{id}": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get user",
        "description": "Returns the associated user\n",
        "operationId": "user.get",
        "parameters": [
          {
            "name": "id",
            "description": "The user ID, email address, or `me` for the currently authenticated user",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidUserId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "bitgo.me({}, function callback(err, user) {\n  if (err) {\n    // handle error\n  }\n  // etc\n});\n"
          }
        ]
      }
    },
    "/api/v2/user/sharingkey": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Get another users public key for wallet sharing",
        "operationId": "user.sharingkey",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserSharingKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{coin}/key/{id}": {
      "get": {
        "tags": [
          "Key"
        ],
        "summary": "Get key",
        "operationId": "v2.key.get",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Key"
                    },
                    {
                      "$ref": "#/components/schemas/KeyTSS"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "let keyId = '58c1f8a0781a5df8380e0e304b228c68';\n\nbitgo\n  .coin('tbtc')\n  .keychains()\n  .get({ id: keyId })\n  .then(function (keychain) {\n    // print the keychain\n    console.dir(keychain);\n  });\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/key": {
      "get": {
        "tags": [
          "Key"
        ],
        "summary": "List keys",
        "operationId": "v2.key.list",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeysResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid Coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "bitgo\n  .coin('tbtc')\n  .keychains()\n  .list()\n  .then(function (keychain) {\n    // print the keychains\n    console.dir(keychains);\n  });\n"
          }
        ]
      },
      "post": {
        "tags": [
          "Key"
        ],
        "summary": "Create key",
        "operationId": "v2.key.add",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateKey"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the new independent or TSS Key",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Key"
                    },
                    {
                      "$ref": "#/components/schemas/KeyTSSCreated"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid Coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "// Create user key.\nlet userKey = bitgo.coin('tbtc').keychains().create();\n\n// Create BitGo key.\nlet bitGoKey = bitgo.coin('tbtc').keychains().createBitGo();\n\n// Create backup key.\nlet backupKey = bitgo.coin('tbtc').keychains().createBackup({ provider: 'cme' });\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet/{walletId}/policy/rule": {
      "post": {
        "tags": [
          "Policy"
        ],
        "summary": "Add policy rule",
        "description": "Adds a rule to a wallet’s policy. A wallet policy’s rules control the\nconditions under which BitGo will use its single key to sign a\ntransaction. An email notification will be sent to all wallet users\nwhen a policy is updated. This email is NOT sent for the first time\npolicy is added.\n",
        "operationId": "v2.wallet.createpolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePolicyRule"
              },
              "examples": {
                "Add Advanced Whitelist Example": {
                  "value": {
                    "id": "my-rule-id",
                    "type": "advancedWhitelist",
                    "condition": {
                      "add": {
                        "type": "my-wallet-id",
                        "item": "my-item-id",
                        "metaData": {
                          "label": "Recipient Wallet"
                        }
                      }
                    },
                    "action": {
                      "type": "getApproval",
                      "userIds": []
                    }
                  }
                },
                "Remove Advanced Whitelist Example": {
                  "value": {
                    "id": "my-rule-id",
                    "type": "advancedWhitelist",
                    "condition": {
                      "remove": "my-address"
                    },
                    "action": {
                      "type": "getApproval"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "202": {
            "description": "A Pending Approval for the update has been created and is waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingApproval"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Policy"
        ],
        "summary": "Update policy rule",
        "description": "Updates a rule on the policy attached to a wallet",
        "operationId": "v2.wallet.updatepolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRemovePolicyRule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "202": {
            "description": "A Pending Approval for the update has been created and is waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingApproval"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Policy"
        ],
        "summary": "Delete policy rule",
        "description": "Deletes a rule from the policy attached to a wallet",
        "operationId": "v2.wallet.removepolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRemovePolicyRule"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "202": {
            "description": "A Pending Approval for the update has been created and is waiting for approval",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingApproval"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/pendingApprovals": {
      "get": {
        "tags": [
          "Pending approval"
        ],
        "summary": "List pending approvals",
        "operationId": "v2.approval.list",
        "parameters": [
          {
            "$ref": "#/components/parameters/prevId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/coinArray"
          },
          {
            "$ref": "#/components/parameters/enterpriseId"
          },
          {
            "name": "state",
            "description": "Filter by state.  The default behavior is to return objects where state is `awaitingSignature`, `pending`, or `pendingFinalApproval`\n",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PendingApprovalStatePending"
              }
            }
          },
          {
            "$ref": "#/components/parameters/walletId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingApprovals"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "let walletId = '590bb3598005caaf07b5bffbe35f3c11';\n\npendingapproval()\n  .list(walletId)\n  .then(function (list) {\n    // Print approval list\n    console.dir(list);\n  });\n"
          }
        ]
      }
    },
    "/api/v2/pendingApprovals/{id}": {
      "get": {
        "tags": [
          "Pending approval"
        ],
        "summary": "Get pending approval",
        "operationId": "v2.approval.get",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingApproval"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Pending approval"
        ],
        "summary": "Update pending approval",
        "description": "Updates the state of a pending approval to `approved` or `rejected`.\nYou can manage pending approvals programmatically by API or with the\nBigGo web UI. Ensure your authentication token has the proper scope.\nWhen creating an access token in the web UI, check the permission,\n\"Update Pending Approvals\" (under \"Account Settings\" &gt; \"Developer\nOptions\" &gt; \"Access Tokens\").\n\nBitGo recommends that you create a webhook policy so that you can\nautomate approving and rejecting transactions.\n",
        "operationId": "v2.approval.update",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "otp": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated pending approval state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingApproval"
                }
              }
            }
          },
          "202": {
            "description": "Further approvals are required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PendingApproval"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/user/login": {
      "post": {
        "description": "Creates a short-lived (1 hour) access token for use with the API.  The token must be specified to subsequent\nAPI calls via the `Authorization` HTTP header:\n```text\nAuthorization: Bearer 9b72c68ef394f5146f0f3efc1feafb7a971752cb00e79fafcfd8c1d2db83639c\n```\nWe don't recommend using this endpoint for scripting.  The preferred\napproach is to create a long-lived token in the web UI (see the\nDeveloper Options section in User Settings).\n",
        "tags": [
          "User",
          "Express"
        ],
        "summary": "Login",
        "operationId": "user.login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the access token and user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "bitgo.authenticate({ username: user, password: password, otp: '0000000' }).then(function (response) {\n  var token = response.token;\n  var user = response.user;\n  // etc\n});\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet/{walletId}/transfer": {
      "get": {
        "tags": [
          "Transfer",
          "Wallet"
        ],
        "summary": "List transfers",
        "description": "Returns deposits and withdrawals for a wallet.  Transfers are sorted\nin descending order by `height`, then `id`. Transfers with `rejected`\nand `pendingApproval` states are excluded by default.\n",
        "operationId": "v2.wallet.listtransfers",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          },
          {
            "$ref": "#/components/parameters/allTokens"
          },
          {
            "$ref": "#/components/parameters/dateGte"
          },
          {
            "$ref": "#/components/parameters/dateLt"
          },
          {
            "$ref": "#/components/parameters/height"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/prevId"
          },
          {
            "$ref": "#/components/parameters/state"
          },
          {
            "$ref": "#/components/parameters/type"
          },
          {
            "$ref": "#/components/parameters/valueGte"
          },
          {
            "$ref": "#/components/parameters/valueLt"
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter for a transfer by one or more transfer ids",
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "pendingApprovalId",
            "in": "query",
            "description": "Filter for a transfer with a matching pendingApprovalId",
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "Return transfers with elements in `entries` that have an `address` field set to this value",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AddressString"
              }
            }
          },
          {
            "name": "includeHex",
            "in": "query",
            "description": "Include the raw hex data of the transaction in the response (this may be a large amount of data)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "memoId",
            "in": "query",
            "description": "Return transfers with any of the payment identifiers in this array. Available for Stellar and EOS.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/IntegerString"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransfersResponse"
                }
              }
            }
          },
          "400": {
            "description": "`CoinUnsupported` or `Invalid`",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`EnterpriseNotFound`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "wallet.transfers().then(function (transfers) {\n  // print transfers\n  console.dir(transfers);\n});\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet/{walletId}/transfer/{transferId}": {
      "get": {
        "tags": [
          "Transfer"
        ],
        "summary": "Get transfer",
        "description": "A transfer is a wallet specific object. Each transfer will only output the respective wallet id which the\ntransfer is associated with.\n\nIf there is a transaction between two BitGo wallets, then two transfers will be created, one for wallet A,\nand one for wallet B. Transfer A will only annotate the walletId on entries where the address belongs to\nwallet A. Transfer B will only annotate the walletId on entries where the address belongs to wallet B.\n",
        "operationId": "v2.wallet.gettransfer",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          },
          {
            "$ref": "#/components/parameters/pathTransferId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedTransferWithInputsOutputs"
                }
              }
            }
          },
          "206": {
            "description": "Incomplete data. Transaction inputs and outputs not available yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedTransfer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidTransferId"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "let transferId = '591623989c043ab2079857ee53d812f0';\nwallet.getTransfer({ id: transferId }).then(function (transfer) {\n  // print the transfer object\n  console.dir(transfer);\n});\n\n// we can also pass a on-chain txid (BTC)\nlet txId = 'f5d8ee39a430901c91a5917b9f2dc19d6d1a0e9cea205b009ca73dd04470b9a5';\nwallet.getTransfer({ id: txId }).then(function (transfer) {\n  console.dir(transfer);\n});\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet/{walletId}/transfer/sequenceId/{sequenceId}": {
      "get": {
        "tags": [
          "Transfer"
        ],
        "summary": "Get transfer by sequence id",
        "operationId": "v2.wallet.gettransferbysequenceid",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          },
          {
            "$ref": "#/components/parameters/pathSequenceId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedTransferWithInputsOutputs"
                }
              }
            }
          },
          "206": {
            "description": "Partial content -- unconfirmed transfer, does not contain inputs or outputs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotatedTransfer"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-code-sample": [
          {
            "lang": "javascript",
            "source": "let sequenceId = 'hello123';\nwallet.transferBySequenceId({ sequenceId: sequenceId }).then(function (transfer) {\n  // print the transfer object\n  console.dir(transfer);\n});\n"
          }
        ]
      }
    },
    "/api/v2/user/logout": {
      "get": {
        "summary": "Logout",
        "description": "Disables an access token",
        "tags": [
          "User"
        ],
        "operationId": "user.logout",
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/api/v2/user/session": {
      "get": {
        "description": "Returns the session associated with access token passed via the `Authorization` header.\n",
        "tags": [
          "User"
        ],
        "summary": "Get session",
        "operationId": "user.getsession",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session": {
                      "$ref": "#/components/schemas/Session"
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "bitgo.session({}, function callback(err, session) {\n  if (err) {\n    // handle error\n  }\n  console.dir(session);\n});\n"
          }
        ]
      }
    },
    "/api/v2/user/lock": {
      "post": {
        "description": "Locks the current user session.  This disallows operations that require\nan unlocked token, such as sending a transaction.\n",
        "tags": [
          "User"
        ],
        "summary": "Lock session",
        "operationId": "user.lock",
        "responses": {
          "200": {
            "description": "Returns the access token and User",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session": {
                      "$ref": "#/components/schemas/LockedSession"
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "bitgo.lock({}).then(function (lockResponse) {\n  // …\n});\n"
          }
        ]
      }
    },
    "/api/v2/user/unlock": {
      "post": {
        "description": "Unlocks thes current user session.  This allows operations that require\nan unlocked token, such as sending a transaction.  Call this endpoint\nwhen an API returns a `401` response with the `needsUnlock`\nbody parameter set to `true`.\n",
        "tags": [
          "User"
        ],
        "summary": "Unlock session",
        "operationId": "user.unlock",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnlockRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session": {
                      "$ref": "#/components/schemas/Session"
                    }
                  }
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "bitgo.unlock({ otp: '0000000' }).then(function (unlockResponse) {\n  console.dir(unlockResponse);\n});\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Add wallet (advanced only)",
        "description": "Add Wallet is for advanced API users. It lets you manually create and\nspecify keys. The recommended (and simpler) method is [Generate Wallet](https://app.bitgo.com/docs/#operation/express.wallet.generate)\nwith the SDK or BitGo Express. You can also create wallets in the BitGo UI.\n\nThis API creates a new wallet for the user or enterprise. The keys to\nuse with the new wallet (passed in the 'keys' parameter) must be\nregistered with BitGo prior to using this API.\n\nBitGo currently only supports 2-of-3 (e.g., m=2 and n=3) wallets. The\nthird key, and only the third key, must be a BitGo key. The first key\nis by convention the user key, with its encrypted xprv stored on BitGo.\n\nEthereum and XRP wallets can only be created under an enterprise. Pass in the\nid of the enterprise to associate the wallet with. Your enterprise id\ncan be seen by clicking on the \"Manage Organization\" link in the\nenterprise dropdown. Using the Add Wallet API, you can create a wallet\nusing either the enterprise fee address (used by default for all\nwallets in the enterprise), or a unique fee address (created manually\nwith the Keychains API). Pass the desired key as the third key ID in\nthe 'keys' array. In either case, the fee address must be funded\nbefore creating the wallet.\n\nYou cannot generate a wallet by passing in a subtoken (i.e. ERC20 token) as the coin.\nSubtokens use the wallet of their parent coin and it is not possible to create a\nwallet specific to one token. For example, to create a wallet for an ERC20 token,\ncreate an Ethereum wallet. It can hold any ERC20 tokens as well as Ether.\n\nBitGo Ethereum wallet is a smart-contract implementing multi-signature scheme.\nBecause contracts itself can not initiate transactions, fee addresses are used\nfor this purpose. Ethereum transactions initiated by a given address, are\nconfirmed by the network in order of creation, so one lower fee transaction can\npotentially delay all subsequent transactions. To help lower network fee costs,\ntwo fee addresses are provided.\n\n`feeAddress` is a main fee address usable for all operations.\n`lowPriorityFeeAddress` is a secondary fee address that can be used to pay\nlower fee for Create Address operations without risking delaying subsequent\nhigher-priority transactions initiated by main fee address.\n",
        "operationId": "v2.wallet.add",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWallet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEnterpriseId"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "`CustodialWalletLimitReachedError`, `MustHaveColdWalletLicenseError`, `MustHaveCustodialWalletLicenseError`, `WalletLimitReachedError`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "bitgo\n  .coin('teth')\n  .wallets()\n  .add({\n    label: 'My Wallet',\n    m: 2,\n    n: 3,\n    keys: ['591a40dc422326ff248919e62a02b2be', '591a40dd422326ff248919e91caa8b6a', '591a40dc9fdde805252f0d87f76577f8'],\n  })\n  .then(function (wallet) {\n    // print the new wallet\n    console.dir(wallet);\n  });\n"
          }
        ]
      },
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "List wallets by coin",
        "operationId": "v2.wallet.listbycoin",
        "description": "Get a list of all wallets per coin, for example, all <i>Bitcoin</i> wallets in your enterprise.",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/prevId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/allTokens"
          },
          {
            "$ref": "#/components/parameters/searchLabelWallets"
          },
          {
            "$ref": "#/components/parameters/showAllWallets"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletsWithCoinResponse"
                }
              }
            }
          },
          "400": {
            "description": "invalid prev id or invalid coin",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "bitgo\n  .coin('tbtc')\n  .wallets()\n  .list({})\n  .then(function (wallets) {\n    // print the wallets\n    console.dir(wallets);\n  });\n"
          }
        ]
      }
    },
    "/api/v2/wallets": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "List wallets",
        "operationId": "v2.wallet.list",
        "description": "Get a list of all wallets for which you have permission. To narrow your search, use the <b>List wallets</b> parameters below or call <b>List wallets by coin</b>, <b>Get Wallet</b> (by `coin` and `walletId`) or <b>Get wallet by address</b> (by `coin` and `address`).<br><br>\nCompare the List/Get wallet APIs&#58; <ul> <li><b>List wallets</b> returns 1 or more wallets for 1 or more coins across 1 or more enterprises (within an array).</li> <li><b>List wallets by coin</b> returns 1 or more wallets <i>for one coin only</i> across 1 or more enterprises (within an array).</li> <li><b>Get wallet</b> and <b>Get wallet by address</b> return one wallet.</li> </ul>\nTest the List/Get wallet APIs. With the same parameter values, these calls should return the same wallet (with minor differences in the responses)&#58;\n<table> <tr> <th>API</th> <th>URL</th></tr> <tr> <td><b>List wallets</b></td> <td><code>{{baseUrl}}/api/v2/wallets?coin={coin}&enterprise={enterpriseid}&id={walletId}&expandBalance=true</code></td></tr> <tr> <td><b>List wallets by coin</b></td> <td><code>{{baseUrl}}/api/v2/{coin}/wallet?enterprise={enterpriseid}&searchLabel={wallet name}</code></td></tr> <tr> <td><b>Get wallet</b></td> <td><code>{{baseUrl}}/api/v2/{coin}/wallet/{walletId}</code></td></tr> <tr> <td><b>Get wallet by address</b></td> <td><code>{{baseUrl}}/api/v2/{coin}/wallet/address/{address}</code></td></tr> </table>",
        "parameters": [
          {
            "$ref": "#/components/parameters/coinArray"
          },
          {
            "name": "deleted",
            "in": "query",
            "description": "Filter by deleted state",
            "schema": {
              "type": "array",
              "items": {
                "type": "boolean"
              },
              "default": [
                false
              ]
            }
          },
          {
            "$ref": "#/components/parameters/queryEnterpriseArray"
          },
          {
            "name": "enterpriseIsNull",
            "in": "query",
            "description": "Filter by whether the enterprise field is null",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "expandBalance",
            "in": "query",
            "description": "Add `balanceString` and `spendableBalanceString` to each wallet",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/queryIdArray"
          },
          {
            "name": "labelContains",
            "in": "query",
            "description": "Filter by label substring",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/prevId"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by wallet type",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/WalletTypePublic"
              }
            }
          },
          {
            "name": "expandCustodialWallet",
            "description": "Whether linked custodial wallets should be expanded inline",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletsResponse"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/BalanceNotAvailable"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidEnterpriseId"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{coin}/wallet/address/{address}": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get wallet by address",
        "operationId": "v2.wallet.getwalletbyaddress",
        "description": "Get one wallet by its `coin` and receive `address`. Multiple receive addresses can map to one `walletId`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathAddress"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "invalid wallet address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "`WalletNotFound` or invalid coin"
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "let address = '2MyzG53Z6nF7UdNt7otEMtGNiEAEe2t2eSY';\nbitgo\n  .coin('tbtc')\n  .wallets()\n  .getWalletByAddress({ address: address })\n  .then(function (wallet) {\n    // print the wallet\n    console.dir(wallet._wallet);\n  });\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet/{walletId}": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get wallet",
        "operationId": "v2.wallet.get",
        "description": "Get one wallet by its `coin` and `walletId`. One `walletId` can map to multiple receive addresses.",
        "parameters": [
          {
            "$ref": "#/components/parameters/allTokens"
          },
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Wallet"
                    },
                    {
                      "$ref": "#/components/schemas/WalletBalance"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": ""
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "let walletId = '585c51a5df8380e0e3082e46';\nbitgo\n  .coin('tbtc')\n  .wallets()\n  .get({ id: walletId })\n  .then(function (wallet) {\n    // print the wallet\n    console.dir(wallet._wallet);\n  });\n"
          }
        ]
      },
      "put": {
        "tags": [
          "Wallet"
        ],
        "summary": "Update wallet",
        "operationId": "v2.wallet.update",
        "description": "Update a wallet by its `coin` and `walletId`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWallet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated wallet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": ""
          },
          "404": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Wallet"
        ],
        "summary": "Delete wallet",
        "description": "Delete one wallet by its `coin` and `walletId`. Once removed, you can no longer view or access this wallet, but it does remain accessible to other wallet users. If you are the only user on this wallet, you can only delete it if it has a 0 balance.",
        "operationId": "v2.wallet.remove",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the updated wallet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "`WalletHasNonZeroBalanceError`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{coin}/wallet/{walletId}/user/{userId}": {
      "delete": {
        "tags": [
          "Wallet"
        ],
        "summary": "Remove user from wallet",
        "description": "After a user has accepted a wallet share, they become a party on a\nwallet and the wallet share is considered “complete”. In order to\nrevoke the share after they have accepted, you can remove the user\nfrom the wallet.\n\nThis operation requires approval by another wallet administrator\nif there is more than a single administrator on a wallet.\n",
        "operationId": "v2.wallet.removeuser",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          },
          {
            "$ref": "#/components/parameters/pathUserId"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Wallet"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/CannotRemoveAdmin"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidUserId"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "`WalletNotFound` or invalid coin"
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "bitgo\n  .coin('tbtc')\n  .wallets()\n  .get({ id: walletId })\n  .then(function (wallet) {\n    wallet.removeUser({ user: userId }).then(function (wallet) {\n      console.dir(wallet);\n    });\n  });\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet/{walletId}/freeze": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Freeze wallet",
        "description": "Lock the wallet, preventing any outgoing transactions for a specified number of seconds",
        "operationId": "v2.wallet.freeze",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "duration": {
                    "type": "number",
                    "description": "time in seconds"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Freeze"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "'needs unlock', 'Access token lacks required scope for this action'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "`WalletNotFound` or invalid coin"
          }
        },
        "x-code-samples": [
          {
            "lang": "javascript",
            "source": "wallet.freeze({ otp: '0000000' }).then(function (freeze) {\n  console.dir(freeze);\n});\n"
          }
        ]
      }
    },
    "/api/v2/{coin}/wallet/{walletId}/unspents": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get unspents",
        "description": "Returns unspent transaction outputs for a wallet",
        "operationId": "v2.wallet.unspents",
        "parameters": [
          {
            "$ref": "#/components/parameters/pathCoin"
          },
          {
            "$ref": "#/components/parameters/pathWalletId"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/maxValue"
          },
          {
            "$ref": "#/components/parameters/minConfirms"
          },
          {
            "$ref": "#/components/parameters/enforceMinConfirmsForChange"
          },
          {
            "$ref": "#/components/parameters/minHeight"
          },
          {
            "$ref": "#/components/parameters/minValue"
          },
          {
            "$ref": "#/components/parameters/prevId"
          },
          {
            "$ref": "#/components/parameters/segwit"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletUnspents"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/InvalidWalletId"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "`Forbidden` when wallet count exceeds limit of 500",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
[...]
